<configuration>
    <!-- Console Appender Configuration -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg [%file:%line] %ex%n</pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender Configuration -->
    <appender name="INFO-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Use relative path for the log file -->
        <file>target/myApp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Ensure directory is specified in fileNamePattern -->
            <fileNamePattern>target/logs/myLogs.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory> <!-- Retains logs for 60 days -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg [%file:%line] %ex%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
        </filter>
    </appender>

    <!-- Root Logger Configuration -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="INFO-ROLLING" />
    </root>

</configuration>